:root {
  --accent-color: #086cf9;
}

body {
  font-family: 'DM Sans';
}

section {
  padding: 60px 0;
}

.accent-bg-color {
  background-color: #086cf9;
}

.accent-color {
  color: #086cf9;
}

.section-color {
  background-color: #ecf4ff;
}

.hero {
  height: 690px;
  max-width: 1600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/hero/heroBg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #fff;

  margin-right: auto;
  margin-left: auto;
}

.text_hero {
  width: 940px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero_titel {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 73px;
}

@media screen and (max-width: 490px) {
  .hero_titel {
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
}
}

.secondary_text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 155%;
}

.btn-hero {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.achiev {
  width: 100%;
  min-height: 150px;
  background-color: #fff;

  position: absolute;
  bottom: 0;
  left: 51%;
  transform: translateX(-50%);

  align-items: center;

  box-shadow: 0px 11px 35px rgba(0, 0, 0, 0.1);
}

.achiev-icon-div {
  margin-right: 25px;
  width: auto;
}

.container-achiev {
  width: auto;
}

.achiev_icon {
  width: 75px;
  height: 75px;
}

.item-group {
  justify-content: center;
  padding: 7px;
}

.text-achiev {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 47px;

  color: #222222;
}

.link-achiev {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 155%;
  color: #086cf9;

  cursor: pointer;
  text-decoration: none;
}

/*  section find you course */

.titel_vid {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;

  color: #222222;
}

.video_course {
  width: 570px;
  height: 433px;
  background-image: url(../img/vid/vid_bg_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
}

.itd_play {
  background-color: var(--accent-color);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: all 200ms ease;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.itd_play:hover,
.itd_play:focus {
  background-color: burlywood;
}

.itd_triangle {
  margin-right: -4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent white;
}

.text-vid_1 {
  font-size: 16px;
  line-height: 155%;
  color: #555555;
}

.text-vid_2 {
  font-size: 20px;
  line-height: 28px;
  color: #333333;
}

.btn_vid {
  width: 150px;
  height: 56px;
  color: white;
}

/* section how it work */

.titel_work {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;

  color: #222222;
}

.text_titel_work {
  position: relative;
  font-weight: normal;
  font-size: 16px;
  line-height: 155%;
  color: #555555;
}

.titel_descr {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;

  color: #222222;
}

.text_secondary_descr {
  font-weight: normal;
  font-size: 14px;
  line-height: 155%;
  color: #555555;
}

@media screen and (max-width: 750px) {
  .text_secondary_descr {
    width: 300px;
  }
}

/* section  all-courses */

.card {
  box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.08);
}

.card.card_curses {
  padding: 24px;
}

.card-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;

  color: #333333;
}

.card-price {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;

  color: #086cf9;
}

.card-text {
  font-size: 14px;
  line-height: 155%;
  color: #555555;
}

.icon_card_bar {
  border-bottom: 1px solid rgba(196, 196, 196, 0.6);
  padding: 24px 0;
  margin-bottom: 20px;
}

.icon_card_img {
  border: 1px solid rgba(196, 196, 196, 0.6);
  border-radius: 50%;
  padding: 5px;
  width: 32px;
  height: 32px;
}

.icon_card_img:not(:last-child) {
  margin-right: 5px;
}

.icon_stat {
  font-size: 16px;
  line-height: 155%;
  color: #555555;
  margin: 0;
}

.icon_card_img_man {
  border: 1px solid rgba(196, 196, 196, 0.6);
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.container_btn_courses {
  height: 150px;
}

.btn_all_courses {
  background-color: var(--accent-color);
  color: white;
  width: 182px;
  height: 56px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

/* mentors */

.mentor_icon_card {
  width: 16px;
  height: 16px;

  position: relative;
}

/* event */

.img_date {
  width: 62px;
  height: 62px;
  background-color: #086cf9;
  color: white;

  font-weight: 500;
  font-size: 18px;
  line-height: 23px;

  padding: 8px 12px;
  border-radius: 5px 0 0 0;
  text-align: center;

  position: absolute;
  top: 0;
  left: 0;
}

/* section split */

.them_section {
  background-color: #d3e5fe;
  max-width: 1640px;
  min-height: 247px;
}

.bolt_text {
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  color: #222222;
}

.lite_text {
  font-size: 16px;
  line-height: 155%;
  color: #555555;
}

/*  section rewiews */

.card_reviews {
  border-radius: 6px;
  box-shadow: 0px 13px 45px rgba(0, 0, 0, 0.08);
  padding: 30px 28px;
}

.card_reviews:not(:last-child) {
  margin-right: 24px;
}

/* section email */

.them_section_email {
  max-width: 939px;
  min-height: 325px;
  background-color: var(--accent-color);
  border-radius: 6px;
  padding: 50px 10px;
}

.titel_work.email_sec {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  color: #fcfcfc;
}

.text_titel_work.email_sec {
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  color: #f9f9f9;
}

.form_input_sec_mail {
  width: 500px;
}

.email_input {
  width: 100%;
  height: 64px;
  border-radius: 4px;
  padding: 8px 8px 8px 24px;
  border: none;
}

@media screen and (max-width: 550px) {
  .form_input_sec_mail {
    width: 100%;
  }
}

.btn_email {
  width: 115px;
  height: 48px;
  background-color: var(--accent-color);
  color: white;
  position: absolute;
  right: 20px;
  bottom: 8px;
  border-radius: 5px;
  border: none;
}

/* footer */

footer {
  background-color: #d3e5fe;
  padding: 60px 144px;
}

.foot_soc_icon {
  width: 48px;
  height: 48px;
  background-color: #fff;
  padding: 14px;
  border-radius: 50%;
}

.link_icon:not(:last-child) {
  margin-right: 16px;
}

.footer_titel {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  color: #222222;
}

.foot_mark::before {
  content: '>';
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 15px;
  color: var(--accent-color);
  margin-right: 8px;
}

.foot_icon_phone::before {
  content: '';
  background-image: url(../img/footer/icon/foot_phone.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  left: -25px;
  bottom: 2px;
}

.foot_icon_mail::before {
  content: '';
  background-image: url(../img/footer/icon/foot_gmail.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  left: -25px;
  bottom: 2px;
}

.foot_icon_dom::before {
  content: '';
  background-image: url(../img/footer/icon/foot_domain.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  left: -25px;
  bottom: 2px;
}
