:root {
  --accent-color: #086cf9;
}

body {
  font-family: 'DM Sans';
}

section {
  padding: 60px 0;
}

.accent-bg-color {
  background-color: #086cf9;
}

.accent-color {
  color: #086cf9;
}

.hero {
  height: 739px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/hero/heroBg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.text_hero {
  width: 940px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero_titel {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 73px;
}

.secondary_text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 155%;
}

.btn-hero {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.achiev {
  width: 100%;
  height: 180px;
  background-color: #fff;

  position: absolute;
  bottom: 0;
  left: 51%;
  transform: translateX(-50%);

  align-items: center;

  box-shadow: 0px 11px 35px rgba(0, 0, 0, 0.1);
}

.achiev-icon-div {
  margin-right: 25px;
  width: auto;
}

.container-achiev {
  width: auto;
}

.achiev_icon {
  width: 75px;
  height: 75px;
}

.item-group {
  justify-content: center;
}

.text-achiev {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 47px;

  color: #222222;
}

.link-achiev {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 155%;
  color: #086cf9;

  cursor: pointer;
  text-decoration: none;
}

/*  section find you course */

.block_heihgt {
  height: 433px;
}

.titel_vid {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;

  color: #222222;
}

.video_course {
  background-image: url(../img/vid/vid_bg_img.jpg);
  background-size: contain;
  background-repeat: no-repeat;

  position: relative;
}

.itd_play {
  background-color: var(--accent-color);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: all 200ms ease;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.itd_play:hover,
.itd_play:focus {
  background-color: burlywood;
}

.itd_triangle {
  margin-right: -4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent white;
}

.text-vid_1 {
  font-size: 16px;
  line-height: 155%;
  color: #555555;
}

.text-vid_2 {
  font-size: 20px;
  line-height: 28px;
  color: #333333;
}

.btn_vid {
  width: 150px;
  height: 56px;
  color: white;
}

/* section how it work */

.titel_work {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;

  color: #222222;
}

.text_titel_work {
  font-weight: normal;
  font-size: 16px;
  line-height: 155%;
  color: #555555;
}

.titel_descr {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;

  color: #222222;
}

.text_secondary_descr {
  font-weight: normal;
  font-size: 14px;
  line-height: 155%;
  color: #555555;
}

/* section  all-courses */

.all-courses {
  background-color: #ecf4ff;
}

.card {
  box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.08);
}

.card.card_curses {
  padding: 24px;
}

.card-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;

  color: #333333;
}

.card-price {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;

  color: #086cf9;
}

.card-text {
  font-size: 14px;
  line-height: 155%;
  color: #555555;
}

.icon_card_bar {
  border-bottom: 1px solid rgba(196, 196, 196, 0.6);
  padding: 24px 0;
  margin-bottom: 20px;
}

.icon_card_img {
  border: 1px solid rgba(196, 196, 196, 0.6);
  border-radius: 50%;
  padding: 5px;
  width: 32px;
  height: 32px;
}

.icon_card_img:not(:last-child) {
  margin-right: 5px;
}

.icon_stat {
  font-size: 16px;
  line-height: 155%;
  color: #555555;
  margin: 0;
}

.icon_card_img_man {
  border: 1px solid rgba(196, 196, 196, 0.6);
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.container_btn_courses {
  height: 150px;
}

.btn_all_courses {
  background-color: var(--accent-color);
  color: white;
  width: 182px;
  height: 56px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

/* mentors */

.mentor_icon_card {
  width: 16px;
  height: 16px;
}
